html {
    font-family: Verdana, sans-serif;
    touch-action: manipulation;
}

* {
    box-sizing: border-box;
    background-color: #f5eddd;
}

html,body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

div.card-outer {
    border: solid thin black;
    width: max-content;
    height: max-content;
    margin: 1vh;
}

div.card-inner {
    display: flex;
    flex-direction: column;
    margin: 1vh;
    padding: 0;
    width: max-content;
}

#output {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#age {
    font-size: 3vmin;
}

div {
    flex: 1;
    font-size: 4vmin;
}

.status-low {
    --color-low: green;
    color: var(--color-low);
}
.status-medium {
    --color-medium: darkorange;
    color: var(--color-medium);
}
.status-high {
    --color-high: red;
    color: var(--color-high);
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(.90);
    }

    .status-low {
        color: rgb(from var(--color-low) calc(255 - r) calc(255 - g) calc(255 - b));
    }
    .status-medium {
        color: rgb(from var(--color-medium) calc(255 - r) calc(255 - g) calc(255 - b));
    }
    .status-high {
        color: rgb(from var(--color-high) calc(255 - r) calc(255 - g) calc(255 - b));
    }
}